<!-- BEGIN: Subheader -->
<div class="m-subheader" appunwraptag="">
    <div class="d-flex align-items-center">
        <div class="mr-auto">
            <h3 class="m-subheader__title m-subheader__title--separator">
                Manage Email Template
            </h3>
            <ul class="m-subheader__breadcrumbs m-nav m-nav--inline">
                <li class="m-nav__item m-nav__item--home">
                    <a href="#" class="m-nav__link m-nav__link--icon">
                        <i class="m-nav__link-icon la la-home"></i>
                    </a>
                </li>
                <li class="m-nav__separator">
                    -
                </li>
                <li class="m-nav__item">
                    <a href="" (click)="goBack()" class="m-nav__link" >
                        <span class="m-nav__link-text">
                            Email Template
                        </span>
                    </a>
                </li>
                <li class="m-nav__separator">
                    -
                </li>

                <li class="m-nav__item">
                    <a href="" class="m-nav__link" (click)="addTemplate()">
                        <span class="m-nav__link-text">
                            Add Email Template
                        </span>
                    </a>
                </li>
            </ul>
        </div>
        <div>
            <div class="m-dropdown m-dropdown--inline m-dropdown--arrow m-dropdown--align-right m-dropdown--align-push" data-dropdown-toggle="hover" aria-expanded="true">
                <a href="#" class="m-portlet__nav-link btn btn-lg btn-secondary  m-btn m-btn--outline-2x m-btn--air m-btn--icon m-btn--icon-only m-btn--pill  m-dropdown__toggle">
                    <i class="la la-plus m--hide"></i>
                    <i class="la la-ellipsis-h"></i>
                </a>
                <div class="m-dropdown__wrapper">
                    <span class="m-dropdown__arrow m-dropdown__arrow--right m-dropdown__arrow--adjust"></span>
                    <div class="m-dropdown__inner">
                        <div class="m-dropdown__body">
                            <div class="m-dropdown__content">
                                <ul class="m-nav">
                                    <li class="m-nav__section m-nav__section--first m--hide">
                                        <span class="m-nav__section-text">
                                            Quick Actions
                                        </span>
                                    </li>
                                    <li class="m-nav__item">
                                        <a href="" class="m-nav__link">
                                            <i class="m-nav__link-icon flaticon-share"></i>
                                            <span class="m-nav__link-text">
                                                Activity
                                            </span>
                                        </a>
                                    </li>
                                    <li class="m-nav__item">
                                        <a href="" class="m-nav__link">
                                            <i class="m-nav__link-icon flaticon-chat-1"></i>
                                            <span class="m-nav__link-text">
                                                Messages
                                            </span>
                                        </a>
                                    </li>
                                    <li class="m-nav__item">
                                        <a href="" class="m-nav__link">
                                            <i class="m-nav__link-icon flaticon-info"></i>
                                            <span class="m-nav__link-text">
                                                FAQ
                                            </span>
                                        </a>
                                    </li>
                                    <li class="m-nav__item">
                                        <a href="" class="m-nav__link">
                                            <i class="m-nav__link-icon flaticon-lifebuoy"></i>
                                            <span class="m-nav__link-text">
                                                Support
                                            </span>
                                        </a>
                                    </li>
                                    <li class="m-nav__separator m-nav__separator--fit"></li>
                                    <li class="m-nav__item">
                                        <a href="#" class="btn btn-outline-danger m-btn m-btn--pill m-btn--wide btn-sm">
                                            Submit
                                        </a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- END: Subheader -->



<ng-container *ngIf="addView">
    <div class="m-content">
        <!--begin::Portlet-->
        <div class="m-portlet">
            <div class="m-portlet__head">
                <div class="m-portlet__head-caption">
                    <div class="m-portlet__head-title">
                        <h3 class="m-portlet__head-text">
                            Create Email Template
                        </h3>
                    </div>
                </div>
            </div>
            <!--begin::Form-->
            <form class="m-form m-form--fit m-form--label-align-right m-form--group-seperator-dashed" [formGroup]="addFormGroup" (ngSubmit)="addFormSubmit()">
                <div class="m-portlet__body">
                    <div class="form-group m-form__group row">
                        <label class="col-form-label col-lg-3 col-sm-12">
                            Subject
                        </label>
                        <div class="col-lg-7 col-md-7 col-sm-12">
                            <input type="text" class="form-control m-input" aria-describedby="Subject"  formControlName="email_subject" placeholder="Enter Email Subject" [(ngModel)]="templateData.email_subject">
                            <span class="m-form__help">
                                Please enter email subject.
                            </span>
                        </div>

                    </div>
                    <div class="form-group m-form__group row">
                        <label class="col-form-label col-lg-3 col-sm-12">
                            Body
                        </label>
                        <div class="col-lg-7 col-md-7 col-sm-12">
                            <textarea class="form-control m-input" title="Email Body" placeholder="HI...." formControlName="email_body" [(ngModel)]="templateData.email_body"></textarea>
                            <span class="m-form__help">
                                Please enter email body.
                            </span>
                        </div>

                    </div>
                    <div class="form-group m-form__group row">
                        <label class="col-form-label col-lg-3 col-sm-12">
                            TO *
                        </label>
                        <div class="col-lg-4 col-md-9 col-sm-12">
                            <select formControlName="email_to" [(ngModel)]="templateData.email_to" class="form-control m-input" name="option">
                                <option value=""> Select </option>
                                <option *ngFor="let item of emailGroupList" value="{{item.id}}"> {{item.group}} </option>
                            </select>
                            <span class="m-form__help">
                                Please select an option.
                            </span>
                        </div>
                    </div>
                    <div class="form-group m-form__group row">
                        <label class="col-form-label col-lg-3 col-sm-12">
                            CC *
                        </label>
                        <div class="col-lg-4 col-md-9 col-sm-12">
                            <select formControlName="email_cc" [(ngModel)]="templateData.email_cc" class="form-control m-input" name="option">
                                <option value=""> Select </option>
                                <option *ngFor="let item of emailGroupList" value="{{item.id}}"> {{item.group}} </option>
                            </select>
                            <span class="m-form__help">
                                Please select an option.
                            </span>
                        </div>
                    </div>
                    <div class="form-group m-form__group row">
                        <label class="col-form-label col-lg-3 col-sm-12">
                            BCC *
                        </label>
                        <div class="col-lg-4 col-md-9 col-sm-12">
                            <select formControlName="email_bcc" [(ngModel)]="templateData.email_bcc" class="form-control m-input" name="option">
                                <option value=""> Select </option>
                                <option *ngFor="let item of emailGroupList" value="{{item.id}}"> {{item.group}} </option>
                            </select>
                            <span class="m-form__help">
                                Please select an option.
                            </span>
                        </div>
                    </div>

                </div>
                <div class="m-portlet__foot m-portlet__foot--fit">
                    <div class="m-form__actions m-form__actions">
                        <div class="row">
                            <div class="col-lg-9 ml-lg-auto">
                                <button type="submit" class="btn btn-brand">
                                    Submit
                                </button>
                                <button type="reset" class="btn btn-secondary">
                                    Cancel
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </form>
            <!--end::Form-->
        </div>
        <!--end::Portlet-->
    </div>
</ng-container>


<ng-container *ngIf="listView">
    <div class="m-content">
        <div class="row">
            <div class="col-lg-12">
                <!--begin::Portlet-->
                <!--end::Portlet-->  		<!--begin::Portlet-->
                <div class="m-portlet">
                    <div class="m-portlet__head">
                        <div class="m-portlet__head-caption">
                            <div class="m-portlet__head-title">
                                <h3 class="m-portlet__head-text">
                                    Templates
                                </h3>
                            </div>
                        </div>
                    </div>
                    <div class="m-portlet__body">
                        <!--begin::Section-->
                        <div class="m-section">
                            <div class="m-section__content">
                                <table class="table table-striped m-table">
                                    <thead>
                                        <tr>
                                            <th>
                                                #
                                            </th>
                                            <th>
                                                Subject
                                            </th>
                                            <th>
                                                Body
                                            </th>
                                            <th>
                                                Status
                                            </th>
                                            <th>
                                                Action
                                            </th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr *ngFor="let bill of templateList; let i = index;">
                                            <th scope="row">
                                                {{templateList[i].id}}
                                            </th>
                                            <td>
                                                {{templateList[i].subject}} 
                                            </td>

                                            <td>
                                                {{templateList[i].body}}
                                            </td>


                                            <td data-field="Status" class="m-datatable__cell"><span style="width: 110px;"><span class="m-badge  m-badge--success m-badge--wide">Active</span></span></td>
                                            <td data-field="Actions" class="m-datatable__cell">
                                                <span style="overflow: visible; width: 110px;">
                                                    <div class="dropdown " style="float: left;">	
                                                        <a href="#" class="btn m-btn m-btn--hover-accent m-btn--icon m-btn--icon-only m-btn--pill" data-toggle="dropdown">
                                                            <i class="la la-ellipsis-h"></i>
                                                        </a>
                                                        <div class="dropdown-menu dropdown-menu-right"><a class="dropdown-item" href="#"><i class="la la-edit"></i> Edit Details</a>
                                                            <a class="dropdown-item" href="#"><i class="la la-leaf"></i> Update Status</a>
                                                            <a class="dropdown-item" href="#"><i class="la la-print"></i> Generate Report</a>
                                                        </div>
                                                    </div>
                                                    <a href="#" class="m-portlet__nav-link btn m-btn m-btn--hover-accent m-btn--icon m-btn--icon-only m-btn--pill" title="Edit details" (click)="editTemplate(templateList[i].id)"><i class="la la-edit"></i></a>
                                                    <a href="#" class="m-portlet__nav-link btn m-btn m-btn--hover-danger m-btn--icon m-btn--icon-only m-btn--pill" title="Delete" (click)="deleteTemplate(templateList[i].id)">
                                                        <i class="la la-trash"></i></a>
                                                </span>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                        <!--end::Section-->
                    </div>
                    <!--end::Form-->
                </div>
                <!--end::Portlet--> 

                <!--end::Portlet-->  		<!--begin::Portlet-->

                <!--end::Portlet-->
            </div>
        </div>
    </div>
</ng-container>
