<!-- BEGIN: Subheader -->
<div class="m-subheader" appunwraptag="">
    <div class="d-flex align-items-center">
        <div class="mr-auto">
            <h3 class="m-subheader__title m-subheader__title--separator">
                Manage CA
            </h3>
            <ul class="m-subheader__breadcrumbs m-nav m-nav--inline">
                <li class="m-nav__item m-nav__item--home">
                    <a href="#" class="m-nav__link m-nav__link--icon">
                        <i class="m-nav__link-icon la la-home"></i>
                    </a>
                </li>
                <li class="m-nav__separator">
                    -
                </li>
                <li class="m-nav__item">
                    <a href="" (click)="goBack()" class="m-nav__link" >
                        <span class="m-nav__link-text">
                            Users
                        </span>
                    </a>
                </li>
                <li class="m-nav__separator">
                    -
                </li>

                <li class="m-nav__item">
                    <a href="" class="m-nav__link" (click)="addUser()">
                        <span class="m-nav__link-text">
                            Add CA
                        </span>
                    </a>
                </li>
            </ul>
        </div>
        <div>
            <div class="m-dropdown m-dropdown--inline m-dropdown--arrow m-dropdown--align-right m-dropdown--align-push" data-dropdown-toggle="hover" aria-expanded="true">
                <a href="#" class="m-portlet__nav-link btn btn-lg btn-secondary  m-btn m-btn--outline-2x m-btn--air m-btn--icon m-btn--icon-only m-btn--pill  m-dropdown__toggle">
                    <i class="la la-plus m--hide"></i>
                    <i class="la la-ellipsis-h"></i>
                </a>
                <div class="m-dropdown__wrapper">
                    <span class="m-dropdown__arrow m-dropdown__arrow--right m-dropdown__arrow--adjust"></span>
                    <div class="m-dropdown__inner">
                        <div class="m-dropdown__body">
                            <div class="m-dropdown__content">
                                <ul class="m-nav">
                                    <li class="m-nav__section m-nav__section--first m--hide">
                                        <span class="m-nav__section-text">
                                            Quick Actions
                                        </span>
                                    </li>
                                    <li class="m-nav__item">
                                        <a href="" class="m-nav__link">
                                            <i class="m-nav__link-icon flaticon-share"></i>
                                            <span class="m-nav__link-text">
                                                Activity
                                            </span>
                                        </a>
                                    </li>
                                    <li class="m-nav__item">
                                        <a href="" class="m-nav__link">
                                            <i class="m-nav__link-icon flaticon-chat-1"></i>
                                            <span class="m-nav__link-text">
                                                Messages
                                            </span>
                                        </a>
                                    </li>
                                    <li class="m-nav__item">
                                        <a href="" class="m-nav__link">
                                            <i class="m-nav__link-icon flaticon-info"></i>
                                            <span class="m-nav__link-text">
                                                FAQ
                                            </span>
                                        </a>
                                    </li>
                                    <li class="m-nav__item">
                                        <a href="" class="m-nav__link">
                                            <i class="m-nav__link-icon flaticon-lifebuoy"></i>
                                            <span class="m-nav__link-text">
                                                Support
                                            </span>
                                        </a>
                                    </li>
                                    <li class="m-nav__separator m-nav__separator--fit"></li>
                                    <li class="m-nav__item">
                                        <a href="#" class="btn btn-outline-danger m-btn m-btn--pill m-btn--wide btn-sm">
                                            Submit
                                        </a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- END: Subheader -->



<ng-container *ngIf="addView">
<div class="m-content">
	<!--begin::Portlet-->
	<div class="m-portlet">
		<div class="m-portlet__head">
			<div class="m-portlet__head-caption">
				<div class="m-portlet__head-title">
					<h3 class="m-portlet__head-text">
						Add CA
					</h3>
				</div>
			</div>
		</div>
		<!--begin::Form-->
		<form class="m-form m-form--fit m-form--label-align-right" id="m_form_1" [formGroup]="addFormGroup" (ngSubmit)="addFormSubmit()">
			<div class="m-portlet__body">
				<div class="m-form__content">
					<div class="m-alert m-alert--icon alert alert-danger m--hide" role="alert" id="m_form_1_msg">
						<div class="m-alert__icon">
							<i class="la la-warning"></i>
						</div>
						<div class="m-alert__text">
							Oh snap! Change a few things up and try submitting again.
						</div>
						<div class="m-alert__close">
							<button type="button" class="close" data-close="alert" aria-label="Close"></button>
						</div>
					</div>
				</div>
          <div class="m-form__heading">
                  <h3 class="m-form__heading-title">
                          Customer Info:
                  </h3>
          </div>

          <div class="form-group m-form__group row">
					<label class="col-form-label col-lg-3 col-sm-12">
						First Name *
					</label>
					<div class="col-lg-4 col-md-9 col-sm-12">
						<input type="text" class="form-control m-input" name="first_name" formControlName="first_name" placeholder="Enter your first name" data-toggle="m-tooltip" title="Tooltip description"  [(ngModel)]="userData.first_name">
						<span class="m-form__help">
							Please enter your first name.
						</span>
					</div>
				</div>
        <div class="form-group m-form__group row">
					<label class="col-form-label col-lg-3 col-sm-12">
						Middle Name
					</label>
					<div class="col-lg-4 col-md-9 col-sm-12">
						<input type="text" class="form-control m-input" name="middle_name" placeholder="Enter your middle name" data-toggle="m-tooltip" title="Tooltip description" formControlName="middle_name"   [(ngModel)]="userData.middle_name">
						<span class="m-form__help">
							Please enter your middle name.
						</span>
					</div>
				</div>
                                <div class="form-group m-form__group row">
					<label class="col-form-label col-lg-3 col-sm-12">
						Last Name
					</label>
					<div class="col-lg-4 col-md-9 col-sm-12">
						<input type="text" class="form-control m-input" name="last_name" placeholder="Enter your last name" data-toggle="m-tooltip" title="Tooltip description" formControlName="last_name"   [(ngModel)]="userData.last_name">
						<span class="m-form__help">
							Please enter your last name.
						</span>
					</div>
				</div>
                                <div class="form-group m-form__group row">
					<label class="col-form-label col-lg-3 col-sm-12">
						Type *
					</label>
					<div class="col-lg-4 col-md-9 col-sm-12">
						<select class="form-control m-input" name="user_type_id" formControlName="user_type_id" [(ngModel)]="userData.user_type_id" >
							<option value="">	Select</option>
              <option value="1">CA	</option>
							 <option value="2">	CS	</option>
							 <option value="3">Lawer</option>
						</select>
						<span class="m-form__help">
							Please select an option.
						</span>
					</div>
				</div>
      <div class="form-group m-form__group row">
					<label class="col-form-label col-lg-3 col-sm-12">
						URL *
					</label>
					<div class="col-lg-4 col-md-9 col-sm-12">
						<div class="input-group">
							<input type="text" class="form-control m-input" name="url" placeholder="Enter your url" formControlName="url"   [(ngModel)]="userData.url">
							<div class="input-group-append">
								<span class="input-group-text">
									.mycatool.com
								</span>
							</div>
						</div>
						<span class="m-form__help">
							Please enter your website URL.
						</span>
					</div>
				</div>

        <div class="form-group m-form__group row">
					<label class="col-form-label col-lg-3 col-sm-12">
						Client Code
					</label>
					<div class="col-lg-4 col-md-9 col-sm-12">
						<input type="text" class="form-control m-input" name="client_code" placeholder="Enter your email" data-toggle="m-tooltip" title="Tooltip description" formControlName="client_code"   [(ngModel)]="userData.client_code">
						<span class="m-form__help">
							Please enter client code.
						</span>
					</div>
				</div>

				<div class="form-group m-form__group row">
					<label class="col-form-label col-lg-3 col-sm-12">
						Email *
					</label>
					<div class="col-lg-4 col-md-9 col-sm-12">
						<input type="text" class="form-control m-input" name="email" placeholder="Enter your email" data-toggle="m-tooltip" title="Tooltip description" formControlName="email"   [(ngModel)]="userData.email">
						<span class="m-form__help">
							We'll never share your email with anyone else.
						</span>
					</div>
				</div>

        <div class="form-group m-form__group row">
					<label class="col-form-label col-lg-3 col-sm-12">
						Mobile
					</label>
					<div class="col-lg-4 col-md-9 col-sm-12">
						<div class="m-input-icon m-input-icon--left">
							<input type="text" class="form-control m-input" name="mobile" placeholder="Enter mobile" formControlName="mobile"   [(ngModel)]="userData.mobile">
							<span class="m-input-icon__icon m-input-icon__icon--left">
								<span>
									<i class="la la-chain"></i>
								</span>
							</span>
						</div>
						<span class="m-form__help">
							Please enter your mobile number.
						</span>
					</div>
				</div>

        <div class="form-group m-form__group row">
					<label class="col-form-label col-lg-3 col-sm-12">
						Password *
					</label>
					<div class="col-lg-4 col-md-9 col-sm-12">
						<input type="text" class="form-control m-input" name="password" placeholder="Enter your password" data-toggle="m-tooltip" title="Tooltip description" formControlName="password"   [(ngModel)]="userData.password">
						<span class="m-form__help">
							Please enter password.
						</span>
					</div>
				</div>
                                <div class="form-group m-form__group row">
					<label class="col-form-label col-lg-3 col-sm-12">
						Confirm Password *
					</label>
					<div class="col-lg-4 col-md-9 col-sm-12">
						<input type="text" class="form-control m-input" name="password_confirmation" placeholder="Enter your email" data-toggle="m-tooltip" title="Tooltip description" formControlName="password_confirmation"   [(ngModel)]="userData.password_confirmation">
						<span class="m-form__help">
							Please enter confirm password.
						</span>
					</div>
				</div>

        <div class="m-form__seperator m-form__seperator--dashed m-form__seperator--space"></div>
        <div class="m-form__heading">
                    <h3 class="m-form__heading-title">
                            Primary Contact:
                    </h3>
        </div>


        <div class="form-group m-form__group row">
					<label class="col-form-label col-lg-3 col-sm-12">
						Phone Number
					</label>
					<div class="col-lg-4 col-md-9 col-sm-12">
						<div class="m-input-icon m-input-icon--left">
							<input type="text" class="form-control m-input" name="phone" placeholder="Enter digits" formControlName="phone"  [(ngModel)]="userData.phone">
							<span class="m-input-icon__icon m-input-icon__icon--left">
								<span>
									<i class="la la-chain"></i>
								</span>
							</span>
						</div>
						<span class="m-form__help">
							Please enter phone number.
						</span>
					</div>
				</div>
        <div class="form-group m-form__group row">
					<label class="col-form-label col-lg-3 col-sm-12">
						Email *
					</label>
					<div class="col-lg-4 col-md-9 col-sm-12">
						<input type="text" class="form-control m-input" name="personal_email" placeholder="Enter your personal email" data-toggle="m-tooltip" title="Tooltip description" formControlName="personal_email"   [(ngModel)]="userData.personal_email">
						<span class="m-form__help">
							We'll never share your email with anyone else.
						</span>
					</div>
				</div>

      <div class="form-group m-form__group row">
					<label class="col-form-label col-lg-3 col-sm-12">
						Address *
					</label>
					<div class="col-lg-4 col-md-9 col-sm-12">
						<input type="text" class="form-control m-input" name="address" placeholder="Enter your address" data-toggle="m-tooltip" title="Tooltip description" formControlName="address"   [(ngModel)]="userData.address">
						<span class="m-form__help">
							Please enter address.
						</span>
					</div>
				</div>

                                <div class="form-group m-form__group row">
					<label class="col-form-label col-lg-3 col-sm-12">
						City *
					</label>
					<div class="col-lg-4 col-md-9 col-sm-12">
						<input type="text" class="form-control m-input" name="city" placeholder="Enter your email" data-toggle="m-tooltip" title="Tooltip description" formControlName="city"  [(ngModel)]="userData.city">
						<span class="m-form__help">
							Please enter city.
						</span>
					</div>
				</div>
        <div class="form-group m-form__group row">
					<label class="col-form-label col-lg-3 col-sm-12">
						State *
					</label>
					<div class="col-lg-4 col-md-9 col-sm-12">
						<select class="form-control m-input" name="state_id" formControlName="state_id"  [(ngModel)]="userData.state_id">
							<option value="">Select</option>
              <option value="1">Delhi</option>
							<option value="2">UP</option>
							<option value="3">MP</option>
						</select>
						<span class="m-form__help">
							Please select an option.
						</span>
					</div>
				</div>

      <div class="form-group m-form__group row">
					<label class="col-form-label col-lg-3 col-sm-12">
						Country *
					</label>
					<div class="col-lg-4 col-md-9 col-sm-12">
						<select class="form-control m-input" name="county_id" formControlName="county_id"  [(ngModel)]="userData.county_id">
							<option value="">Select	</option>
							<option value="1">India</option>
							<option value="2">Thailand</option>
							<option value="3">UK</option>
						</select>
						<span class="m-form__help">
							Please select an option.
						</span>
					</div>
				</div>
        <div class="form-group m-form__group row">
					<label class="col-form-label col-lg-3 col-sm-12">
						Zip *
					</label>
					<div class="col-lg-4 col-md-9 col-sm-12">
						<input type="text" class="form-control m-input" name="zip_code" placeholder="Enter your zip" data-toggle="m-tooltip" title="Tooltip description" formControlName="zip_code"  [(ngModel)]="userData.zip_code">
						<span class="m-form__help">
							Please enter zip.
						</span>
					</div>
				</div>


      <div class="m-form__seperator m-form__seperator--dashed m-form__seperator--space"></div>
      <div class="m-form__heading">
                  <h3 class="m-form__heading-title">
                          Office Contact:
                  </h3>
      </div>

       <div class="form-group m-form__group row">
					<label class="col-form-label col-lg-3 col-sm-12">
						Office Address *
					</label>
					<div class="col-lg-4 col-md-9 col-sm-12">
						<input type="text" class="form-control m-input" name="office_address" placeholder="Enter your office address" data-toggle="m-tooltip" title="Tooltip description" formControlName="office_address"   [(ngModel)]="userData.office_address">
						<span class="m-form__help">
							Please enter office address.
						</span>
					</div>
				</div>

        <div class="form-group m-form__group row">
					<label class="col-form-label col-lg-3 col-sm-12">
						Office Phone  *
					</label>
					<div class="col-lg-4 col-md-9 col-sm-12">
						<input type="text" class="form-control m-input" name="office_phone" placeholder="Enter your office phone" data-toggle="m-tooltip" title="Tooltip description" formControlName="office_phone"  [(ngModel)]="userData.office_phone">
						<span class="m-form__help">
							Please enter office phone number.
						</span>
					</div>
				</div>



        <div class="m-form__seperator m-form__seperator--dashed m-form__seperator--space"></div>
        <div class="m-form__heading">
                    <h3 class="m-form__heading-title">
                            Other:
                    </h3>
        </div>

         <div class="form-group m-form__group row">
					<label class="col-form-label col-lg-3 col-sm-12">
						GST Number
					</label>
					<div class="col-lg-4 col-md-9 col-sm-12">
						<input type="text" class="form-control m-input" name="gst_number" placeholder="Enter your GST" data-toggle="m-tooltip" title="Tooltip description" formControlName="gst_number"  [(ngModel)]="userData.gst_number">
						<span class="m-form__help">
							Please enter GST number.
						</span>
					</div>
				</div>
        <div class="form-group m-form__group row">
					<label class="col-form-label col-lg-3 col-sm-12">
						PAN Number
					</label>
					<div class="col-lg-4 col-md-9 col-sm-12">
						<input type="text" class="form-control m-input" name="pan_number" placeholder="Enter your pan" data-toggle="m-tooltip" title="Tooltip description" formControlName="pan_number"   [(ngModel)]="userData.pan_number">
						<span class="m-form__help">
							Please enter PAN number.
						</span>
					</div>
				</div>
      <div class="form-group m-form__group row">
					<label class="col-form-label col-lg-3 col-sm-12">
						Aadhar Number
					</label>
					<div class="col-lg-4 col-md-9 col-sm-12">
						<input type="text" class="form-control m-input" name="adhar_number" placeholder="Enter your aadhar" data-toggle="m-tooltip" title="Tooltip description" formControlName="adhar_number"  [(ngModel)]="userData.adhar_number">
						<span class="m-form__help">
							Please enter aadhar number.
						</span>
					</div>
				</div>

      <div class="form-group m-form__group row">
					<label class="col-form-label col-lg-3 col-sm-12">
						Brand Name/Tag Name
					</label>
					<div class="col-lg-4 col-md-9 col-sm-12">
						<input type="text" class="form-control m-input" name="brand_name" placeholder="Enter your brand name" data-toggle="m-tooltip" title="Tooltip description" formControlName="brand_name"  [(ngModel)]="userData.brand_name">
						<span class="m-form__help">
							Please enter brand name.
						</span>
					</div>
				</div>

      <div class="form-group m-form__group row">
					<label class="col-form-label col-lg-3 col-sm-12">
            Referral Code
					</label>
					<div class="col-lg-4 col-md-9 col-sm-12">
						<input type="text" class="form-control m-input" name="referral_code" placeholder="Enter your referer code" data-toggle="m-tooltip" title="Tooltip description" formControlName="referral_code"  [(ngModel)]="userData.referral_code">
						<span class="m-form__help">
							Please enter referrer code.
						</span>
					</div>
				</div>


				<div class="form-group m-form__group row">
					<label class="col-form-label col-lg-3 col-sm-12">
						Status *
					</label>
					<div class="col-lg-4 col-md-9 col-sm-12">
						<div class="m-radio-inline">
							<label class="m-radio">
								<input type="checkbox" name="status"  formControlName="status"  [(ngModel)]="userData.status">
								Enable
								<span></span>
							</label>
							<label class="m-radio">
								<input type="checkbox" name="status" formControlName="status"   [(ngModel)]="userData.status">
								Disable
								<span></span>
							</label>
						</div>
						<span class="m-form__help">
							Please select an option
						</span>
					</div>
				</div>
			</div>
			<div class="m-portlet__foot m-portlet__foot--fit">
				<div class="m-form__actions m-form__actions">
					<div class="row">
						<div class="col-lg-9 ml-lg-auto">
							<button type="submit" class="btn btn-success">
								Submit
							</button>
							<button type="reset" class="btn btn-secondary">
								Cancel
							</button>
						</div>
					</div>
				</div>
			</div>
		</form>
		<!--end::Form-->
	</div>
	<!--end::Portlet-->  <!--begin::Portlet-->

</div>

</ng-container>











<ng-container *ngIf="listView">
    <div class="m-content">
        <div class="row">
            <div class="col-lg-12">
                <!--begin::Portlet-->
                <!--end::Portlet-->  		<!--begin::Portlet-->
                <div class="m-portlet">
                    <div class="m-portlet__head">
                        <div class="m-portlet__head-caption">
                            <div class="m-portlet__head-title">
                                <h3 class="m-portlet__head-text">
                                    Users
                                </h3>
                            </div>
                        </div>
                    </div>
                    <div class="m-portlet__body">
                        <!--begin::Section-->
                        <div class="m-section">
                            <div class="m-section__content">
                                <table class="table table-striped m-table">
                                    <thead>
                                        <tr>
                                            <th>
                                                #
                                            </th>
                                            <th>
                                                Name
                                            </th>
                                            <th>
                                                Type
                                            </th>
                                            <th>
                                                Phone
                                            </th>
                                            <th>
                                                Email
                                            </th>

                                            <th>
                                                Status
                                            </th>
                                            <th>
                                                Action
                                            </th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr *ngFor="let bill of userList; let i = index;">
                                            <th scope="row">
                                                {{userList[i].id}}
                                            </th>
                                            <td>
                                                {{userList[i].first_name}} {{userList[i].last_name}}
                                            </td>
                                            <td>
                                                Individual
                                            </td>
                                            <td>
                                                {{userList[i].mobile}}
                                            </td>
                                            <td>
                                                {{userList[i].email}}
                                            </td>

                                            <td data-field="Status" class="m-datatable__cell"><span style="width: 110px;"><span class="m-badge  m-badge--success m-badge--wide">Active</span></span></td>
                                            <td data-field="Actions" class="m-datatable__cell">
                                                <span style="overflow: visible; width: 110px;">
                                                    <div class="dropdown " style="float: left;">
                                                        <a href="#" class="btn m-btn m-btn--hover-accent m-btn--icon m-btn--icon-only m-btn--pill" data-toggle="dropdown">
                                                            <i class="la la-ellipsis-h"></i>
                                                        </a>
                                                        <div class="dropdown-menu dropdown-menu-right"><a class="dropdown-item" href="#"><i class="la la-edit"></i> Edit Details</a>
                                                             <a class="dropdown-item" href="#"><i class="la la-leaf"></i> Update Status</a>
                                                             <a class="dropdown-item" href="#"><i class="la la-print"></i> Generate Report</a>
                                                         </div>
                                                    </div>
                                                    <a href="#" class="m-portlet__nav-link btn m-btn m-btn--hover-accent m-btn--icon m-btn--icon-only m-btn--pill" title="Edit details" (click)="editUser(userList[i].id)"><i class="la la-edit"></i></a>
                                                    <a href="#" class="m-portlet__nav-link btn m-btn m-btn--hover-danger m-btn--icon m-btn--icon-only m-btn--pill" title="Delete" (click)="deleteUser(userList[i].id)">
                                                    <i class="la la-trash"></i></a>
                                                </span>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                        <!--end::Section-->
                    </div>
                    <!--end::Form-->
                </div>
                <!--end::Portlet-->

                <!--end::Portlet-->  		<!--begin::Portlet-->

                <!--end::Portlet-->
            </div>
        </div>
    </div>
</ng-container>
